@font-face {
    font-family: 'open_sanssemibold';
    src: url('open-sans-semibold_allfont.ru-webfont.woff2') format('woff2'),
         url('open-sans-semibold_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('open-sans-semibold-italic-webfont.woff2') format('woff2'),
         url('open-sans-semibold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('opensans-condlight-webfont.woff2') format('woff2'),
         url('opensans-condlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('opensans-condlightitalic-webfont.woff2') format('woff2'),
         url('opensans-condlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('opensans-condbold-webfont.woff2') format('woff2'),
         url('opensans-condbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('./src/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./src/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
