$max-width: 1366px
$extra-large: 1200px
$large: 992px
$medium: 768px
$small: 576px
$min-width: 320px

$font: 16px

$bg: #fff
$bg-base-text: #000000
$bg-section: #f9f9f9
$bg-footer: #e3e3e3
$blue: #00aeef
$h3: #000125
$text: #000800
$contact-hover: #2280a4
$description: #fbfafd
$rect-right: #754c24
$rect-left: #b48a0a
$arrow: #2b5689
$pagination-light: #878787
$pagination-dark: #d0d0d0
$border_product: #4a4a4a

$border: 1px solid red
