@import "reset"
@import "variables"
@import "src/fonts/stylesheet.css"
@import "mixin"
@import "animate"

//-----------base style-----------
html,
body
  height: 100%
  background: $bg

*
  box-sizing: border-box

.wrap-s
  max-width: 1140px
  width: 100%
  margin: 0 auto

.wrap-md
  max-width: 1200px
  width: 100%
  margin: 0 auto
.wrap-lg
  max-width: 1366px
  width: 100%
  margin: 0 auto

a,
p,
span
  font-family: 'Open Sans Regular', sans-serif
  color: $bg-base-text

a
  white-space: nowrap
  text-decoration: none
  background-image: linear-gradient(currentColor, currentColor)
  background-position: 0 100%
  background-repeat: no-repeat
  background-size: 0 1px
  transition: background-size .3s
  &:hover
    background-size: 100% 2px

img
  width: 100%
  height: 100%
  object-fit: cover

//-----------------------------------
.container
  display: flex
  flex-direction: column
  height: 100%
  margin: 0 auto

//------------header-----------------
.header
  display: flex
  flex-wrap: nowrap
  align-items: center
  align-content: center
  height: 90px
  padding: 12px 3px 0

  &__logo
    margin-left: 29px

  &__nav
    display: flex
    flex-wrap: nowrap
    text-transform: uppercase
    margin-top: 8px
    margin-left: 22.75%

  &__tel
    margin-top: 6px
    margin-left: 2.8%
    white-space: nowrap
    font: 700 18px 'Open Sans Bold', sans-serif
    letter-spacing: 1.5px

.logo
  display: flex
  flex-wrap: wrap
  width: 185px
  height: 39px
  margin-right: 5px
  & :first-child
    color: $blue
    font: 700 25px 'Open Sans Bold', sans-serif
    letter-spacing: 5.5px
    text-transform: uppercase
  & :last-child
    font: 200 11px 'Open Sans Light', sans-serif

.nav__item
  position: relative
  margin-right: 29px
  padding: 9px 27px
  text-align: left
  font: 400 14px 'Open Sans Regular', sans-serif
  border-radius: 4px
  &:hover
    outline: 1px solid $contact-hover
    & .link
      color: $contact-hover

// TODO не могу понять закономерности в расстояниях между item меню Исправить
.item--dropdown
  margin-left: -32px

.dropdown-wrap
  position: absolute
  min-width: 450px
  padding-top: 26px
  z-index: 4

.dropdown
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: auto
  padding: 45px 25px 35px 45px
  text-transform: none
  background: $bg
  box-shadow: 0 0 15px 2px rgba(34, 60, 80, 0.2)
  &::after
    content: ''
    position: absolute
    top: 0
    left: 30px
    transform: translateY(-100%)
    border-top: none
    border-right: 10px solid transparent
    border-left: 10px solid transparent
    border-bottom: 10px solid $bg

  &__item
    font: 300 16px 'Open Sans Medium', sans-serif
    &:not(:last-child)
      margin-bottom: 30px
    a:hover
      color: $bg-base-text

.item--blue
  background: $blue
  outline: transparent
  .link
    color: $bg
  &:hover
    background: transparent
    outline: 1px solid $contact-hover


//--------first-screen__slider--------
.first-screen
  position: relative
  display: flex
  flex-direction: row
  height: 464px
  margin-bottom: 91px

  &__description
    position: absolute
    z-index: 3
    width: 44.4%
    top: 26%
    left: 11%
    padding: 34px 40px 18px 58px
    background: $description
    opacity: 0.83

  &__slider
    position: absolute
    width: 100%
    height: 100%

.description
  &__title
    margin-bottom: 16px
    text-transform: uppercase
    font: 500 30px 'Open Sans Medium', sans-serif
    letter-spacing: -0.8px
    color: $desc

  &__text
    text-align: justify
    font: 200 20px 'Open Sans Light', sans-serif
    line-height: 30px
    color: $text

.top-slider
  width: 100%
.slider
  &__item
    position: absolute

  &__pagination
    position: absolute
    display: flex
    z-index: 5
    top: 405px
    left: 205px
    &-btn
      cursor: pointer
      padding: 5px 3px
      &:before
        content: ''
        display: block
        height: 16px
        width: 16px
        border-radius: 50%
        border: 1px solid $pagination
        transition: background-color .3s
      &--active:before
        background: $bg-footer

.arrow
  position: absolute
  z-index: 4
  width: 70px
  top: 41%
  transition: transform 1s ease-in-out
  cursor: pointer

  &__prev
    left: 6.8%
    &:hover
      transform: translateX(-8px)
  &__next
    left: 88.6%
    &:hover
      transform: translateX(8px)

//--------------main------------------
//TODO расставить везде префиксы
.main
  flex-grow: 1
  display: flex
  flex-flow: column wrap
  justify-content: center

  &__wrap
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center
    padding-left: 10px

  &__title
    margin-bottom: 51px
    margin-left: 8px
    text-align: center
    color: $bg-base-text
    font: 100 36px 'Open Sans Light', sans-serif

  &__text
    margin-left: 42px
    margin-bottom: 94px
    color: $text
    font: 100 18px 'Open Sans Light', sans-serif
    text-indent: 22px

//-------------our-products----------
.products
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  align-content: center
  text-align: center

  &__title
    margin-bottom: 56px
    font: 100 30px 'Open Sans Light', sans-serif
    color: $bg-base-text

  &__row
    display: flex
    width: calc(100% + 20px)
    margin: 0 -10px 32px

  &__item
    display: flex
    flex-direction: column
    position: relative
    justify-content: flex-end
    width: calc(100% / 3 - 20px)
    min-height: 258px
    margin: 0 10px

  &__item--double
    width: calc(100% / 3 * 2 - 20px)

  &__bg
    height: 144px
    background-repeat: no-repeat
    background-size: cover
    background-position: center

  &__item--img-full
    .products__bg
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: auto
      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(0, 0, 0, 0.5)

    .products__desc
      color: $bg

  &__content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    flex-grow: 1
    border: 1px solid $border-product

    .rect__right
      padding: 7px 25px
      margin-left: calc(60% + 5px)
      margin-bottom: 60px
      text-align: right
      font: 300 18px 'Open Sans Regular', sans-serif
      background: $rect-right
      color: $bg

    .rect__left
      padding: 7px 17px
      margin-top: 25px
      margin-right: calc(67% + 5px)
      margin-bottom: 84px
      text-align: left
      white-space: nowrap
      font: 300 18px 'Open Sans Regular', sans-serif
      background: $rect-left
      color: $bg

  &__desc
    display: flex
    align-items: center
    text-align: center
    justify-content: center
    word-break: break-word
    flex-grow: 1
    width: 100%
    height: 24px
    padding: 10px 55px
    font: 300 18px 'Open Sans Regular', sans-serif
    letter-spacing: 0.2px

  &__btn
    margin: 6px auto 24px
    text-align: center

    a
      padding: 9px 42px
      border-radius: 4px
      background: $blue
      color: $bg
      font: 300 14px 'Open Sans Regular', sans-serif
      cursor: pointer
      &:hover
        outline: 1px solid $contact-hover
        background: transparent
        color: $contact-hover

  .row__bottom
    margin-bottom: 91px
    .products__btn
      margin-bottom: 30px

//------------advantages-------------
.advantages
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-content: center
  text-align: center

  &__row
    display: flex
    flex-direction: row

  &__title
    margin-bottom: 56px
    color: $bg-base-text
    font: 100 30px 'Open Sans Light', sans-serif

  &__item
    display: flex
    flex-direction: column
    justify-content: flex-end
    width: calc(100% / 4 )
    padding: 0 39px 0 44px

  &__svg
    height: 104px
    flex-grow: 1
    background-repeat: no-repeat
    background-size: contain
    background-position: center

  &__desc
    flex-grow: 1
    margin-top: 8px
    margin-bottom: 98px
    font: 100 16px 'Open Sans Light', sans-serif

//------------customers----------
.customers
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-content: center
  text-align: center
  background: $bg-section

  &__title
    margin: 58px 0 56px
    font: 100 30px 'Open Sans Light', sans-serif
    color: $bg-base-text

  &__slider
    position: relative
    width: 90%
    margin: 0 auto 106px

  &__arrow
    min-width: 1200px
    &.arrow
      position: absolute
      &__prev
        &:hover
          transform: translateX(-8px)
      &__next
        &:hover
          transform: translateX(8px)

.bottom-slider
  display: flex
  flex-direction: row
  justify-content: space-between
  max-width: 1080px
  width: 100%
  padding: 0 30px
  overflow: hidden
  & :first-child
    margin-left: 0

  &__item
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    align-content: center
    min-width: calc(100% / 6 - 32px)
    height: 122px
    margin-left: 40px
    background: $bg
    filter: grayscale(1)
    transition: filter .3s
    &:hover
      filter: grayscale(0)

    & img
      width: 95%
      min-width: 95%
      height: 75%
      min-height: 73%
      object-fit: contain

//------------footer-----------------
.footer
  display: flex
  flex-direction: column
  padding: 52px 2px 10px
  background: $bg-footer

  &__wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-left: 1.5%

  &__logo
    margin-left: 1.65%
    margin-bottom: 35px

  &__tel
    display: flex
    flex-direction: column
    margin-left: -8%
    white-space: nowrap
    font: 700 18px 'Open Sans Bold', sans-serif
    letter-spacing: 1.5px

    & .tel
      margin-bottom: 19px

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center

  &__privacy
    display: inline-block
    margin-top: 11px
    margin-right: 2.75%
    font: 300 11px 'Open Sans', sans-serif

  &__nav
    display: flex
    flex-direction: row
    flex-wrap:  wrap
    max-width: 427px
    width: 100%
    text-transform: uppercase

    &-item
      margin-left: 40px

  &__social
    display: inline-block
    margin-left: 35px

.social
  display: flex
  &__btn
    width: 30px
    height: 23px
    display: block
    overflow: hidden
    background-image: url(../../src/images/sprite.png)
    background-position: 0 0
    background-repeat: no-repeat
    cursor: pointer
    filter: grayscale(1)
    transition: filter .3s
    &:hover
      filter: grayscale(0)
  .facebook
    background-position: 0 0
  .vk
    background-position: -30px 0
  .od
    background-position: -60px 0
  .youtube
    background-position: -90px 0
  .instagram
    background-position: -120px 0

//------------for--js-----------------
.hide
  display: none

.active
  display: block

// TODO расставить якоря, проверить цвета
// TODO проверить, что должно быть ссылкой
