@import "variables"
@import "../fonts/stylesheet.css"
//@import "animate"
//@import "details"
//@import "mixin"


//-----объявление базовых стилей----
html,
body
  height: 100%
  background: $bg

*
  box-sizing: border-box

.wrap-md
  max-width: 1140px
  width: 100%
  margin: 0 auto

.wrap-lg
  max-width: 1366px
  width: 100%
  margin: 0 auto

a,
p,
span
  font-family: 'Open Sans Regular', sans-serif
  color: $bg-base-text

img
  width: 100%
  height: 100%
  object-fit: cover

.hide
  display: none

//-----------------------------------
.container
  display: flex
  flex-direction: column
  height: 100%
  margin: 0 auto

//------------header-----------------
.header
  margin: 0 auto
  display: flex
  flex-wrap: nowrap
  align-items: center

  &__nav
    display: flex
    flex-wrap: nowrap
    justify-content: flex-end
    text-transform: uppercase

  &__tel
    white-space: nowrap
    font: 700 18px 'Open Sans Bold', sans-serif
    letter-spacing: 1.5px
    &:hover
      text-decoration: underline

.logo
  width: 185px
  height: 39px
  display: flex
  flex-wrap: wrap

  & :first-child
    color: $blue
    font: 700 25px 'Open Sans', sans-serif
    letter-spacing: 5.5px
    text-transform: uppercase

  & :last-child
    font: 300 10px 'Open Sans', sans-serif


.nav__item
  padding: 9px 29px
  border-radius: 3px
  text-align: center
  font: 300 14px 'Open Sans Regular', sans-serif

  &:hover
    outline: 1px solid $contact-hover
    text-decoration: underline
    a
      color: $contact-hover


.active
  background: $blue
  outline: transparent
  a
    color: $bg


//--------first-screen__slider--------
.first-screen
  position: relative
  //height: 465px

  &__description
    position: absolute
    z-index: 3
    width: 590px
    height: 220px
    top: 120px
    left: 155px
    padding: 6px 40px 18px 50px
    background: $description
    opacity: 0.83

.description
    &__title
      margin-bottom: 0
      text-transform: uppercase
      font: 700 28px 'Open Sans Medium', sans-serif
      color: $h3

    &__text
      font: 300 20px 'Open Sans Medium', sans-serif
      line-height: 30px
      text-align: justify

//--------------main------------------
.main
  border: $border
  flex-grow: 1
  display: flex
  flex-flow: column wrap
  justify-content: center

  .wrap
    height: 160px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    align-content: center

  &__title
    text-align: center
    color: $bg-base-text
    font: 100 36px 'Open Sans Light', sans-serif

  &__text
    margin-left: 8px
    font: 300 18px 'Open Sans Medium', sans-serif
    text-indent: 22px

.our-products
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  align-content: center
  text-align: center

  & .wrap
    height: 180px

  &__title
    color: $bg-base-text
    font: 100 32px 'Open Sans Light', sans-serif

  .wrapper
    height: 550px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-self: flex-end
    margin-top: -18px
    overflow: hidden

    & .box1
      background-image: url(../images/layer_44.jpg)
    & .box2
      background-image: url(../images/layer_48.jpg)
    & .box3
      background-image: url(../images/layer_50.jpg)
    & .box4
      background-image: url(../images/layer_52.jpg)
    & .box5
      background-image: url(../images/layer_54.jpg)

  &__box
    width: calc(32% + 3px)
    height: 270px
    margin-bottom: 22px
    background-size: contain
    background-repeat: no-repeat

  &__wrap
    margin-top: 148px

    &--white
      background: $bg
      border: 1px solid $border-product

    &--transparent
      background: transparent
      color: $bg

  //&__double-box

  &__h3
    height: 24px
    font: 300 18px 'Open Sans Regular', sans-serif

  &__btn
    width: 160px
    margin: 0 auto 20px
    padding: 9px 29px
    border-radius: 3px
    text-align: center
    font: 300 14px 'Open Sans Regular', sans-serif
    color: $bg
    background: $blue
    cursor: pointer

    &:hover
      outline: 1px solid $contact-hover
      background: transparent
      text-decoration: underline
      color: #000

//------------footer-----------------
.footer

