@import url(../fonts/stylesheet.css);
* {
  box-sizing: border-box; }

body {
  max-width: 1366px;
  background: #fff; }

a,
p,
span {
  font-family: 'Open Sans Regular', sans-serif;
  color: #000000; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hide {
  display: none; }

.visible {
  display: block; }

.container {
  width: 1366px;
  margin: 0 auto; }

.header {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  .header__logo {
    margin-top: 30px;
    margin-bottom: 19px; }
  .header__nav {
    width: 720px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 32px;
    text-transform: uppercase; }
  .header__tel {
    margin-left: 58px;
    margin-top: 15px;
    font: 700 18px 'Open Sans Bold', sans-serif;
    letter-spacing: 1.5px; }
    .header__tel:hover {
      text-decoration: underline; }

.logo {
  width: 185px;
  height: 39px;
  display: flex;
  flex-wrap: wrap; }
  .logo :first-child {
    color: #00aeef;
    font: 700 25px 'Open Sans', sans-serif;
    letter-spacing: 5.5px;
    text-transform: uppercase; }
  .logo :last-child {
    font: 300 10px 'Open Sans', sans-serif; }

.nav__item {
  padding: 9px 29px;
  margin-left: 5px;
  border-radius: 3px;
  text-align: center;
  font: 300 14px 'Open Sans Regular', sans-serif; }
  .nav__item:hover {
    outline: 1px solid #2280a4;
    text-decoration: underline; }
    .nav__item:hover a {
      color: #2280a4; }

.active {
  background: #00aeef;
  outline: transparent; }
  .active a {
    color: #fff; }

.first-screen {
  position: relative;
  height: 465px;
  margin-bottom: 45px; }
  .first-screen__description {
    position: absolute;
    z-index: 3;
    width: 590px;
    height: 220px;
    top: 120px;
    left: 155px;
    padding: 6px 40px 18px 50px;
    background: #fbfafd;
    opacity: 0.83; }

.description__title {
  margin-bottom: 0;
  text-transform: uppercase;
  font: 700 28px 'Open Sans Medium', sans-serif;
  color: #000125; }

.description__text {
  font: 300 20px 'Open Sans Medium', sans-serif;
  line-height: 30px;
  text-align: justify; }

.main {
  border: 1px solid red;
  width: 1139px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .main .wrap {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .main__title {
    text-align: center;
    color: #000000;
    font: 100 36px 'Open Sans Light', sans-serif; }
  .main__text {
    margin-left: 8px;
    font: 300 18px 'Open Sans Medium', sans-serif;
    text-indent: 22px; }

.our-products {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; }
  .our-products .wrap {
    height: 180px; }
  .our-products__title {
    color: #000000;
    font: 100 32px 'Open Sans Light', sans-serif; }
  .our-products .wrapper {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: -18px;
    overflow: hidden; }
    .our-products .wrapper .box1 {
      background-image: url(../images/layer_44.jpg); }
    .our-products .wrapper .box2 {
      background-image: url(../images/layer_48.jpg); }
    .our-products .wrapper .box3 {
      background-image: url(../images/layer_50.jpg); }
    .our-products .wrapper .box4 {
      background-image: url(../images/layer_52.jpg); }
    .our-products .wrapper .box5 {
      background-image: url(../images/layer_54.jpg); }
  .our-products__box {
    width: calc(32% + 3px);
    height: 270px;
    margin-bottom: 22px;
    background-size: contain;
    background-repeat: no-repeat; }
  .our-products__wrap {
    margin-top: 148px; }
    .our-products__wrap--white {
      background: #fff;
      border: 1px solid #4a4a4a; }
    .our-products__wrap--transparent {
      background: transparent;
      color: #fff; }
  .our-products__double-box {
    width: 66%; }
  .our-products__h3 {
    height: 24px;
    font: 300 18px 'Open Sans Regular', sans-serif; }
  .our-products__btn {
    width: 160px;
    margin: 0 auto 20px;
    padding: 9px 29px;
    border-radius: 3px;
    text-align: center;
    font: 300 14px 'Open Sans Regular', sans-serif;
    color: #fff;
    background: #00aeef;
    cursor: pointer; }
    .our-products__btn:hover {
      outline: 1px solid #2280a4;
      background: transparent;
      text-decoration: underline;
      color: #000; }
